$font-stack: 'Orbitron', sans-serif !default;
$font-size-base: 12px;
$color: #558ed5;

q {
	text-decoration: none;
	border-left: solid 1px currentColor;
	padding-left: 5px;
}

h1 {
	margin-bottom: 15px;
}