$font-stack: 'Orbitron', sans-serif !default;
$font-size-base: 12px;
$color: #666;

q {
	text-decoration: none;
	border-left: solid 1px currentColor;
	padding-left: 5px;
}

h1 {
	margin-bottom: 15px;
	font-size: $font-size-base * 2;
	height:  $font-size-base * 2;
}

	h1 span {
 		font-size: $font-size-base * 2 * 0.75;
 		font-style: italic;
	}