---
last_update: 20140807
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
		
		<title></title>
		
		<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Orbitron:400,900' />
		<link rel="stylesheet" href="./css/screen.css">
		
		<link rel="shortcut icon" type="image/x-icon" href="./favicon.ico">
	</head>
	<body>

		<ul>
			{% for books in site.data.books %}
				<li>
					<h1>{{ books.name }} <span>- {{ books.date }}</span></h1>
					<p>{{ books.resume }}</p>
				</li>
			{% endfor %}
		</ul>
			    
	</body>
</html>

<!--{{ page.last_update }}-->