<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
	
	<title></title>
	
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Ubuntu:300"/>	
	<link rel="stylesheet" href="/css/layout.css">
	
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
		
    <ul>
		{% for member in site.data.books %}
		  <li>
		    <a href="#">
		      {{ books.name }}
		    </a>
		  </li>
		{% endfor %}
	</ul>
		    
</body>
</html>
